$line-seed-font-path: "../assets/fonts/line_seed";

@font-face {
    src: url("#{$line-seed-font-path}/LINESeedSans_W_Th.woff2") format("woff2");
    font-display: swap;
    font-family: "LineSeedSans";
    font-weight: 100;
}

@font-face {
    src: url("#{$line-seed-font-path}/LINESeedSans_W_Rg.woff2") format("woff2");
    font-display: swap;
    font-family: "LineSeedSans";
    font-weight: 400;
}

@font-face {
    src: url("#{$line-seed-font-path}/LINESeedSans_W_Bd.woff2") format("woff2");
    font-display: swap;
    font-family: "LineSeedSans";
    font-weight: 700;
}

@font-face {
    src: url("#{$line-seed-font-path}/LINESeedSans_W_XBd.woff2") format("woff2");

    font-family: "LineSeedSans";
    font-weight: 800;
}

@font-face {
    src: url("#{$line-seed-font-path}/LINESeedJP_OTF_Th.woff2") format("woff2");
    font-display: swap;
    font-family: "LineSeedJP";
    font-weight: 100;
}

@font-face {
    src: url("#{$line-seed-font-path}/LINESeedJP_OTF_Rg.woff2") format("woff2");
    font-display: swap;
    font-family: "LineSeedJP";
    font-weight: 400;
}

@font-face {
    src: url("#{$line-seed-font-path}/LINESeedJP_OTF_Bd.woff2") format("woff2");
    font-display: swap;
    font-family: "LineSeedJP";
    font-weight: 700;
}

@font-face {
    src: url("#{$line-seed-font-path}/LINESeedJP_OTF_Eb.woff2") format("woff2");
    font-display: swap;
    font-family: "LineSeedJP";
    font-weight: 800;
}

@font-face {
    src: url("#{$line-seed-font-path}/LINESeedSansTH_W_Th.woff2") format("woff2");
    font-display: swap;
    font-family: "LineSeedSansTH";
    font-weight: 100;
}

@font-face {
    src: url("#{$line-seed-font-path}/LINESeedSansTH_W_Rg.woff2") format("woff2");
    font-display: swap;
    font-family: "LineSeedSansTH";
    font-weight: 400;
}

@font-face {
    src: url("#{$line-seed-font-path}/LINESeedSansTH_W_Bd.woff2") format("woff2");
    font-display: swap;
    font-family: "LineSeedSansTH";
    font-weight: 700;
}

@font-face {
    src: url("#{$line-seed-font-path}/LINESeedSansTH_W_XBd.woff2") format("woff2");
    font-display: swap;
    font-family: "LineSeedSansTH";
    font-weight: 800;
}